html,
body {
  height: 100%;
  width: 100%
}

body.no-bouncing {
  overflow: auto;
  position: fixed;
}

#draw {
  border: 3px solid #eee;
  display: block;
}

ul.letter-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

ul.letter-list li {
  display: block;
  padding: 1rem;
  font-size: 30px;
  border: 1px solid #eee;
  width: 75px;
  height: 75px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  line-height: 75px;
}

ul.letter-list li:hover {
  background: #eee;
  transition: 0.5s all;
  transform: scale(1.2);
}

#canvas-board {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

button {
  height: 40px;
  font-size: 20px;
}
