<html>
<head>
  <style>
    
  </style>
</head>
<body>
  <p>
    welcome.<br/><br/>
 
    Søknaden din er sendt til Eika Kredittbank. Behandlingstiden er for øyeblikket lengre enn normalt grunnet ferieavvikling. <br/>Du vil få nærmere informasjon på e-post når søknaden er ferdig behandlet.<br/><br/>
    
    Kortet/kortene vil bli sendt ut i slutten av august.<br/><br/>
    
    Vi gjør oppmerksom på at du ikke kan svare på denne e-posten. Dersom du ønsker å komme i kontakt med oss, kan du nå oss på telefon 915 05712 eller e-post agricard@eika.no.<br/><br/>
    
    Ha en fin dag!<br/><br/>
    
    Med vennlig hilsen<br/><br/><br/><br/>
    Agricard i samarbeid med Eika Kredittbank AS<br/><br/><br/>
    
  </p>

</body>
</html>
